
* {box-sizing: border-box;  }
/* Style the header */
.header {
  background-color: #FAEBD7;
  padding-left: 0px;
  padding-top:0px;
  text-align: right;}

/*background*/
body{
  padding: 1px;
    margin: 0;
  background-color: #fff2e6;/* لون خلفيه الصفحه*/
 background-repeat: repeat;
 background-attachment: scroll;}



 /* navigation bar*/
 /*-----------------------------------------------------------------------------*/

 /* https://www.w3schools.com/css/css_dropdowns.asp*/ /* الى السطر٥٣*/
 .dropbtn {
   background-color: #FAEBD7;
   color: black;
   padding: 12px 2px 2px 12px;/* حجم البتن*/
   font-size: 25px;
   border: none;}


 .dropdown {
   position: relative;
   display: inline-block;}

 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 30px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }

 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;}

 .dropdown-content a:hover {background-color: #f1f1f1}
 .dropdown:hover .dropdown-content {display: block;}
 .dropdown:hover .dropbtn {background-color: white;}


 ul { list-style-type: none; /* اشيل ستايل التعداد النقطي*/   margin: 0;padding: 0;}
 /*.topnav { padding:65px;/* حجم البار*/  /*position: relative; /*overflow: hidden;*/  /*background-color: #FAEBD7; } /* عشان اعبي الفراغات الي يمين و يسار البار*/
 .topnav a {  padding: 20px; /* حجم البتن و القائمة النسدلة*/   font-size: 17px;}
 .topnav a.active {   background-color: #FAEBD7;/* خلفيه البار*/   color: black;}/* لون خط البار*/

        /* انشأت اي دي عشان احط البار بالوسط*/
        /*https://www.websitecodetutorials.com/code/css/css-center-nav.php */
      #nav {  width:900px;/* اتحكم بأتجاه البار*/ padding:65px;   margin: 0 auto;}
      #nav li { float:right;/* اتجاه الاسماء يبدا من اليمين */}
      #nav a {  display:block;  text-align:center;    width:150px; /* fixed width */  text-decoration:none;}

 /*-----------------------------------------------------------------------------*/





/* سلايدات */

 /*-----------------------------------------------------------------------------*/
 /* https://www.w3schools.com/howto/howto_js_slideshow.asp*/
 /** {box-sizing: border-box;}*/
 body {font-family: Verdana, sans-serif;}
 .mySlides {display: none;}
 img {vertical-align: middle;}

 /* Slideshow container */
 .slideshow-container {
   max-width: 600px;/* حجم المربع */
   position: relative;
   margin: auto;
 }

 /* Caption text */
 .text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
 }

 /* Number text (1/3 etc) */
 .numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }

 /* The dots/bullets/indicators */
 .dot {
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }

 .active {
   background-color: #717171;
 }

 /* Fading animation */
 .fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 3s;
   animation-name: fade;
   animation-duration: 2s;
 }

 @-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }

 @keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }

 /* On smaller screens, decrease text size */
 @media only screen and (max-width: 300px) {
   .text {font-size: 11px}
 }

/*-----------------------------------------------------------------------------*/





  /*-------------------------محتوى الصفحه---------------------------------  */
  /*https://www.w3schools.com/css/tryit.asp?filename=trycss_website_layout_grid2 */
      /* Create three unequal columns that floats next to each other */
      .column {  float: left;  padding: 10px;}

      /* Left and right column */
      .column.side {width: 13%;}

      /* Middle column */
      .column.middle {  width: 74%;}

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column.side, .column.middle {
          width: 100%;
        }
      }
    /*----------------------------------------------------------- */









    /* ----------------------------------------الصندوق الي فيه الكلام ------------------*/
    /* اخذ الرابط من هبه*/
    * {box-sizing: border-box;}

    body {font-family: Arial;font-size: 17px;}

    .container {position: relative;max-width: 900px ;/* حجم المربع*/margin: 0 auto;}


    .container img {vertical-align: middle;}

    .container .content {
      position: absolute;
      bottom: 0;
      background: rgb(0, 0, 0); /* Fallback color */
      background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
      color: #f1f1f1;
      width: 100%;
      padding: 20px;}
      /*------------------------------------------------------------------------ */




/* هذا الكود ما احتاجة بس مخليته كذا */

/*Animation photo */
/* ---------------------------------------------------------*/

#myDIV {
  width: 1000px;  height: 1000px; background-repeat: no-repeat;
  -webkit-animation: mymove 5s infinite;
  animation: mymove 5s infinite;}/*كل خمس ثواني تتغير الصورة */
@-webkit-keyframes mymove {
  from {background-image: url("sww.jpg");}
  to {background-image:url("meat.jpg") ;}
}
@keyframes mymove {
  from {background-image:url("sww.jpg") ;}
  to {background-image: url("meat.jpg");}
}

/* ----------------------------------------------------------*/
