
* {box-sizing: border-box;  }
/* Style the header */
.header {
  background-color: #FAEBD7;
  padding-left: 0px;
  padding-top:0px;
  text-align: right;}

/*background*/
body{
  padding: 1px;
  margin: 0px;
  background-color: #fff2e6;/* لون خلفيه الصفحه*/
  /*background-repeat: repeat;*/
  background-attachment: scroll;}





h3{
  color:  #eeccaa;
}
/*https://codepen.io/nasser/pen/nqImC */
.fontStyle{font-family:'Amiri', serif;
text-align:center;
font-size: 20px;
}/* تعديل نوع الخط*/

/*------------------------- تقسيم محتوى الصفحه---------------------------------  */
/*https://www.w3schools.com/css/tryit.asp?filename=trycss_website_layout_grid2 */

    /* Create three unequal columns that floats next to each other */
    .column {  float: left;  padding:3px;}
    .column.side {width: 13%;}/* Left and right column */
    .column.middle {  width: 70%;}/* Middle column */
    .footer {background-color: #FAEBD7;  padding: 20px; text-align: center;}/*footer */
/*------------------------------------------------------------------- */

 /*---------------------------------navigation bar--------------------------------------------*/

 /* https://www.w3schools.com/css/css_dropdowns.asp*/ /* الى السطر٥٣*/

 .dropbtn {
   background-color: #FAEBD7;
    border: none; padding: 12px 2px 2px 12px;/* حجم البتن*/
   font-size: 20px; color: black;

   }

 .dropdown {position: relative;  display: inline-block;}

 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 30px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;}

 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;}

 .dropdown-content a:hover { background-color: #f1f1f1;}

 .dropdown:hover .dropdown-content {display: block;}
 .dropdown:hover .dropbtn {/*background-color: white;*/
   background: rgb(0, 0, 0); /* Fallback color */
   background: rgba(0, 0, 0, 0.2); /* Black background with 0.5 opacity */

 }


 ul { list-style-type: none; /* اشيل ستايل التعداد النقطي*/   margin: 0;padding: 0;}
 /*.topnav { padding:65px;/* حجم البار*/  /*position: relative; /*overflow: hidden;*/  /*background-color: #FAEBD7; } /* عشان اعبي الفراغات الي يمين و يسار البار*/

 .topnav a {  padding: 20px; /* حجم البتن و القائمة النسدلة*/   font-size: 17px;}
 .topnav a.active {   background-color: #FAEBD7;/* خلفيه البار*/   color: black;}/* لون خط البار*/

        /* انشأت اي دي عشان احط البار بالوسط*/
        /*https://www.websitecodetutorials.com/code/css/css-center-nav.php */
      #nav {  width:900px;/* اتحكم بأتجاه البار*/ padding:65px;   margin: 0 auto;}
      #nav li { float:right;/* اتجاه الاسماء يبدا من اليمين */}
      #nav a {  display:block;  text-align:center;    width:150px; /* fixed width */  text-decoration:none;}

 /*-----------------------------------------------------------------------------*/





  /*-------------------------محتوى الصفحه---------------------------------  */
  /*https://www.w3schools.com/css/tryit.asp?filename=trycss_website_layout_grid2 */
      /* Create three unequal columns that floats next to each other */
      .column {  float: left;  padding:5px;}

      /* Left and right column */
      .column.side {width: 13%;}

      /* Middle column */
      .column.middle {  width: 70%;}

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column.side, .column.middle {
          width: 100%;
        }
      }
      .footer {
  background-color: #FAEBD7;
  padding: 20px;
  text-align: center;}

    /*----------------------------------------------------------- */








    /* ----------------------------------------الصندوق الي فيه الكلام ------------------*/
    /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_transparent_bottom*/
    * {box-sizing: border-box;}

    body {font-family: Arial;font-size: 17px;}

    .container { position: relative; max-width:900px ;/* حجم المربع*/margin: 0 auto;}
    .container img {vertical-align: middle;}


    .container .content {
      position: absolute;    bottom: 0;
      background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
      color: #f1f1f1;/* لون الخط*/
      width: 100%;
      padding: 20px;}
      /*------------------------------------------------------------------------ */





/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxhebbbbaxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* https://www.w3schools.com/howto/howto_js_slideshow.asp*/

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width:1000px;
  position:relative;
  margin: auto;}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.all{
   padding:5px;
   margin-right:160px;
   margin-left:160px;
 background-color: #FDF5E6;
    height: 1700px;
    width: 980px;
  }
  h3{
    font-size: 60px;
    text-align: center;
    font-family: Times, Times New Roman, Georgia, serif;
  }
  h2{
    font-size: 30px;
    text-align: center;
  font-family:'Amiri',serif;
  }

.text{
  font-size: 20px;
  color:#FFFFFF;
  text-align: center;
font-family:'Amiri', serif;
}
.dis{
  font-size: 16px;
  color:black;
  text-align: center;
font-family: 'Amiri', serif;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */






.si{text-align: center;}
